# --- Server Port ---
PORT=8081

# --- Payment Gateway Microservice API ---
PAYMENT_GATEWAY_URL=http://localhost:8080

# --- Merchant Credentials (Generate/retrieve from Admin panel) ---
MERCHANT_PUBLIC_KEY="your_public_key_here"
MERCHANT_SECRET_KEY="your_secret_key_here"
WEBHOOK_SECRET="your_webhook_secret_here"
